#container {
    width: 90%;
    height: 1200px;
    padding: 100px 0 100px 0!important;
}

#form-add-doctor {
    border: 1px solid black;
    border-radius: 30px;
    height: 800px;
    margin-left: 150px;
    padding: 30px;
}

#header-add-doctor {
    width: 100%;
    text-align: center;
    font-weight: bold;
}